.boxA{
	 height: 300px;
	 width: 300px;
	 margin:auto;
	 position: relative;
	 overflow: hidden;
	 
}
.boxA img{
	    height: 100%;
	    width: 100%;
	    display: block;

}
.box1{

	height: 100%;
	width: 100%;
	background: black;
	top: -100%;
	left: 0;
	position: absolute;
	transition: 1s;
}
.boxA:hover .box1{
	     top: 0;
	     opacity: .8;
}
.text1{
	      position: absolute;
	      text-align: center;
	      font-size: 17px;
	      top: 50%;
	      left: 50%;
	      transform: translate(-50%,-50%);
	      color: #fff;

}
/* box2 desing*/
.boxB{
	 height: 300px;
	 width: 300px;
	 margin:auto;
	 position: relative;
	 overflow: hidden;
	 
}
.boxB img{
	    height: 100%;
	    width: 100%;
	    display: block;

}
.box2{

	height: 100%;
	width: 100%;
	background: black;
	top: 100%;
	left: 0;
	position: absolute;
	transition: 1s;
}
.boxB:hover .box2{
	     top: 0;
	     opacity: .8;
}
.text2{
	      position: absolute;
	      text-align: center;
	      font-size: 17px;
	      top: 50%;
	      left: 50%;
	      transform: translate(-50%,-50%);
	      color: #fff;

}

/* box3 desing*/
.boxC{
	 height: 300px;
	 width: 300px;
	 margin:auto;
	 position: relative;
	 overflow: hidden;
	 
}
.boxC img{
	    height: 100%;
	    width: 100%;
	    display: block;

}
.box3{

	height: 100%;
	width: 100%;
	background: black;
	top: 0%;
	right: 100%;
	position: absolute;
	transition: 1s;
}
.boxC:hover .box3{
	     right: 0;
	     opacity: .8;
}
.text3{
	      position: absolute;
	      text-align: center;
	      font-size: 17px;
	      top: 50%;
	      left: 50%;
	      transform: translate(-50%,-50%);
	      color: #fff;

}

/* box4 desing*/
.boxD{
	 height: 300px;
	 width: 300px;
	 margin:auto;
	 position: relative;
	 overflow: hidden;
	 
}
.boxD img{
	    height: 100%;
	    width: 100%;
	    display: block;

}
.box4{

	height: 100%;
	width: 100%;
	background: black;
	top: 0%;
	left: 100%;
	position: absolute;
	transition: 1s;
}
.boxD:hover .box4{
	     left: 0;
	     opacity: .8;
}
.text4{
	      position: absolute;
	      text-align: center;
	      font-size: 17px;
	      top: 50%;
	      left: 50%;
	      transform: translate(-50%,-50%);
	      color: #fff;

}

